<RCC>
  <qresource prefix="AnimationPanel">
    <file>add.png</file>
  </qresource>
  <qresource prefix="icons">
    <file>backward.png</file>
    <file>repeat.png</file>
    <file>pause.png</file>
    <file>play.png</file>
  </qresource>
  <qresource prefix="MainWindow">
    <file>../icon/icon.png</file>
  </qresource>
</RCC>
